:host {
  --_wl-editor_gap: var(--wl-gap, 0.5rem);

  display: flex;
  flex-direction: column;
  gap: var(--_wl-editor_gap);
  padding: 20px 50px;
}

.device-log {
  margin-top: 50px;
  border-top: 1px solid #ccc;
}

.duration-slider {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;

}

.stretch-fill {
  flex: 10 0 0;
}

md-divider {
  margin-bottom: var(--_wl-editor_gap);
}
